<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a ng-href="#">Login!</a></li>
		<li><a ng-href="#/checkin">Check in!</a></li>
		<li class="active"><a ng-href="#/friends">Friends!</a></li>
	</ul>
	<h3 class="text-muted">Party Finder Prototype</h3>
</div>
<div class="jumbotron friend" ng-repeat="friend in friendList">
	<img class="friend-image" src="{{friend.image}}"/>
  	<h3>
    	{{friend.name}}
  	</h3>
  	<p class="lead">
    	is at {{friend.location}} right now.
  	</p>
</div>